# Core
pandas
numpy
scikit-learn
scipy

# ML Models
xgboost
lightgbm
catboost
venn-abers>=0.1.3

# Visualizzazione
matplotlib
seaborn
plotly

# EDA tools
statsmodels
yellowbrick

# Clustering
scikit-learn-extra

# Streamlit app
streamlit

# OpenAI API
openai

# Utils
joblib
setuptools
wheel
ppscore
openpyxl



