# Core
pandas
numpy
scikit-learn
scipy

# ML Models
xgboost
lightgbm
catboost

# Imputazione avanzata
missingpy

# Visualizzazione
matplotlib
seaborn
plotly

# EDA tools
statsmodels
yellowbrick

# Clustering
scikit-learn-extra

# Streamlit app
streamlit

# OpenAI API
openai

# Utils
joblib
setuptools
wheel
ppscore
